#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#banner {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15vw;

  font-weight: 1000;
  word-spacing: 100vw;
  line-height: 85%;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    color: white;
  }
}

/* 
@media (prefers-color-scheme: light) {
  html {
    background-color: white;
    color: black;
  }
} 
*/